body{
  /*background-color: lightyellow;*/
  font-family: 'Open Sans', sans-serif;  
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #ecf0f5;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* container */
/*#container {
  
}
*/
#primary {
    float: left;
    height: 543px;
}

#content {
    float: left;
    position: relative;
}

#secondary {
    float: left;
}

#footer {
    clear: both;
    background: #0D1B21;
    padding: 1px;
    color: #fff;
    font-size: 14px;
    color:#BFBFBF;
    text-align: center;
}

/* CSS talk bubble */
#chatArea{
	height: 415px;
	overflow-y: auto;
}
/*.talk-bubble {
    font-size:small;
	margin: 10px;
  display: inline-block;
  position: relative;
	width: auto;
	height: auto;
	background-color: lightblue;
}*/



/*.talk-bubblelogout {
    font-size:small;
	margin: 10px;
  display: inline-block;
  position: relative;
	width: auto;
	height: auto;
	background-color: lightgrey;
}*/

.talk-bubblelogout .talktext p{
	background-color: red;
}


.talk-bubblelogout .talktext p:after {
	border-color: rgba(0, 0, 0, 0) red;
}

/*.talk-bubblelogin {
    font-size:small;
	margin: 10px;
  display: inline-block;
  position: relative;
	width: auto;
	height: auto;
	background-color: lightgreen;
}*/

.talk-bubblelogin .talktext p{
	background-color: lightgreen;
}


.talk-bubblelogin .talktext p:after {
	border-color: rgba(0, 0, 0, 0) lightgreen;	
}


.border{
  border: 2px solid #666;
}
.round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
/*.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightblue;
}*/

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightblue transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
/*.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 5px;
  top: 48px;
	bottom: auto;
	border: 12px solid;
	border-color: lightpink transparent transparent lightpink;
}*/

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
	clear: both;
}
.talktext span{
	display: inline-block;
	background: url('../img/user-grey.jpg') no-repeat;
	width: 36px;
    height: 38px;
    margin-right: 19px;
    float: left;    
}

.talktext p {
  clear:both;
  background-color: #d2d6de;
  border-radius: 15px;
  position: relative;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  width: 89%;
}

.name {
	font-size: 13px;
}

.talktext p:after{
	content: "";
    position: absolute;
    top: 4px;
    left: -14px;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: rgba(0, 0, 0, 0) #d2d6de;
    display: block;
    width: 0;
    z-index: 1;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.talk-bubbleSelf.right-in .talktext span {
	float: right;
}
.talk-bubbleSelf.right-in .talktext p {
	background:#3c8dbc;
	color:#fff;
}

.talk-bubbleSelf.right-in .name{
	float: right;
}

.talk-bubbleSelf.right-in .dt{
	float: left;
}

.talk-bubbleSelf.right-in .talktext p:after{
	border-width: 10px 0 10px 15px;
	right: -14px;
	left: auto;
	border-color: rgba(0, 0, 0, 0) #3c8dbc;
}
.talk-bubbleSelf.right-in .talktext span {
	margin-left: 19px;
    top: 4px;
    margin-right: 0;

}

.dt {
  float: right;
  font-size: 11px;
}
.name {
  float: left;
  font-weight: bold;
}

/* Custom Style */
#header {
	width: 100%;
	height: 50px;
	background: #3c8dbc;
}
#usrLoggedOut,
#usrAdmLoggedOut{
	margin-top: 10px;
    float: right;
    margin-right: 21px;
    background : #1e6791;
    border-radius: 20px;
    font-size: 14px;
}

#welcomeMsg,
#welcomeAdmMsg {
	color:#fff;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
}

.left-sidebar {
	float: left;
	width: 20%;
	background: #222d32;
}

.user-label {
	background: #1a2226;
	padding:15px;
	color:#9EB8C3;
}

.usersList {
	padding:15px;
}

#usersList select {
	border: 0;
    background-color: transparent;
    width: 100%;
    color: #b8c7ce;
    padding: 15px; 
    text-transform: capitalize;
    overflow-y:auto;
    height: 350px;
}

option {
	background: url('../img/user-circle.png') no-repeat left 2px;
	margin-bottom: 10px;
	padding-left: 20px;
} 

option.inactive {
	background-position: left -16px; 
}

#content {
	width: 60%;
	background-color: #ecf0f5;
}

#secondary {
	width: 20%;
}

#secondary .box {
	margin-left: 0;
}

.box {
	background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 20px;
    position: relative;
    padding: 10px;
}
#sendDiv {
	clear: both;
	height: 65px;
}


#sendDiv label {
	vertical-align: top;
	float: left;
	margin-right: 10px;
    position: relative;
    top: 6px;
}

.new-label {
	padding: 3px 0;
    border-bottom: 2px solid #3c8dbc;
    margin-bottom: 15px;
    color: #2D739C;
    font-weight: bold;
}

#msgTxt {
	padding: 10px;
	float: left;
	margin: 0;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: 1px solid #d2d6de;
	height: 33px;
    overflow: hidden;
}

input[type="button"],
input[type="reset"],
input[type="submit"]  {
	appearance: none;
	box-shadow: none;
	border-radius: none;
	cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.0;
    margin-bottom: 0;
    padding: 4px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 0;
    color:#fff;
    
;
}

#sendMsg,
#sendEmail {
	background-color: #3c8dbc;	
}

#sendPvtMsg,
#usrRegister,
#usrRegisterReset,
#admPvtMsg {
	background-color: #f39c12 ;	
}

/* Private Msg Class */
.pvtMsg .talktext p {
	background-color: #f39c12 ;	
}

.pvtMsg .talktext p:after{
	border-color: rgba(0, 0, 0, 0) #f39c12;
	display: none;
}

.talktext i {
	background: url('../img/pvt-msg.png') no-repeat;
	width: 15px;
	display: inline-block;
	height: 15px;	
}
/* Private Msg Class */
#serverMsg {
	height: 435px;
	font-size: 12px;
}

/* Admin CSS */
.admin #chatArea {
	height: 370px;
}
.admin #msgTxt{
	width: 50%;
}

.admin #sendDiv {
	clear: both;
	height: 110px;
}

.admin-button {
	clear: both;
    padding: 14px;
    text-align:right;
}

.admin input[type='button'] {
	background-color: #3c8dbc;
}

.left-sidebar {
	position: relative;
}

#forcedLoggedOut {
	position: absolute;
	bottom: 82px;
    left: 53px;
}

.admin #primary {
	height: 524px;
}

/* Admin CSS */

.app-name {
	position: relative;
	text-align: center;	
	width: 92%;
}

.app-name h2{
	position: absolute;
	display: inline-block;
    top: -13px;
    color: #fff;
}

.serverMsg{
	margin-bottom: 10px;
}
.serverMsg .msg {
	background: #3c8dbc;
	padding: 4px;
	color: #fff;
	border-radius: 12px;
}
.serverMsg .dateTime {
	font-size:11px;
}

.pvtMsg .right-name {
	float: right;
}
.pvtMsg .left-name {
	float: left;
}
.pvtMsg .dt{
	float: left;
	margin-top: 4px;
    margin-left: 25px;
}

.pvtMsg .talktext p {
	width: 81%;
	margin: 0;
	margin-top: 6px;
}
.pvtMsg .right-user {
	margin-right: 0;
    float: right;
}

.pvtMsg .talktext p:before {
	content: "";
    position: absolute;
    top: 5px;
    left: auto;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: rgba(0, 0, 0, 0) #f39c12;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
}

.pvtMsg.remove-arrow .talktext p:before {
	content:"";
	display: none;
}
.talktext p {
	margin: 0;
	font-size: 13px;
	margin-top: 4px;
}

.pvtMsg.remove-arrow  .talktext p {
	width: 89%;
} 

.pvtMsg.remove-arrow .dt {
	float: right;
}

.talk-bubble,
.talk-bubblelogin,
.talk-bubbleSelf,
.talk-bubble,
.talk-bubblelogout {
	margin:10px 10px 17px 10px;

}

/* Custom Style */

/* Login Page */
.login {
	background-color: #f6f8f8;
}

.loginContainer {
	width: 35%;
	margin: 100px auto;
	padding: 60px;
	text-align: center;
	background: #fff;
	border-top: 54px solid #3c8dbc;
    border-radius: 10px;
    -webkit-box-shadow: 1px 13px 16px -7px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 13px 16px -7px rgba(0,0,0,0.35);
    box-shadow: 1px 13px 16px -7px rgba(0,0,0,0.35);
}

.loginContainer input[type="text"] {
	width: 45%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #c3c5c5;
    padding: 5px;
    line-height:25px;
}

.loginContainer input[type="password"] {
	width: 45%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #c3c5c5;
    padding: 5px;
    line-height:25px;
}

.loginContainer label {
	color:#626565;
	line-height:35px;
	width: 100px;
}

.loginContainer input[type="submit"]{
	background: #3c8dbc;
	border-radius: 4px;
}

.adminlogin #usrAdmLoggedOut {
	float: none;
	margin: 0;
	border-radius: 4px;
	background: #f39c12;
	font-size: 17px;
}

.heading {
	margin-top: -97px;
    margin-bottom: 60px;
    color:#fff;
}

.adminlogin .loginContainer {
	width: 35%;
	position: relative;
}
/* registeration Page */

.registration {
	background-color: #f6f8f8;
}

.RegistrationContainer {
	width: 35%;
	margin: 60px auto;
	padding: 60px;
	background: #fff;
	border-top: 54px solid #3c8dbc;
    border-radius: 10px;
    -webkit-box-shadow: 1px 13px 16px -7px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 13px 16px -7px rgba(0,0,0,0.35);
    box-shadow: 1px 13px 16px -7px rgba(0,0,0,0.35);
}

.RegistrationContainer input[type="text"] {
	width: 45%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #c3c5c5;
    padding: 5px;
    line-height:25px;
}

.RegistrationContainer input[type="password"] {
	width: 45%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #c3c5c5;
    padding: 5px;
    line-height:25px;
}
.RegisterationHeading {
	margin-top: -97px;
    margin-bottom: 50px;
    color:#fff;
     text-align: center;
}

.RegistrationContainer label {
	color:#626565;
	font-size: 14px;
	display: inline-block;
	width: 100px;
    line-height:35px;
}

.RegistrationContainer input[type="submit"]{
	background: #3c8dbc;
	border-radius: 4px;
}

.RegistrationContainer input[type="button"]{
	background: #3c8dbc;
	border-radius: 4px;
}

.RegistrationButtonContainer{
	width:250px;
	margin:auto;
}

.RegistrationContainer input[type="reset"]{
	background: #3c8dbc;
	border-radius: 4px;
}

.RegistrationContainer {
	width: 30%;
	position: relative;
}